<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <script type="text/javascript">
  	function showMessage(){
  	var list = document.getElementById("waiting");
	list.innerHTML = "Loading pls wait........redirecting";
}
  </script>
  <body>
    <center><h1>WELCOME</h1>
    <img src="{{ url_for('video_feed') }}" style="width: 600px;">
    <br>
    <a href="{{ url_for('predict') }}" onclick="showMessage()">clcik me </a</center>
    <br>
   <h3> <div id='waiting'></div></h3>
  </body>
</html>